<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Añade nuevos datos
    </h1>
    
    <form action="/api/adddatos"method="post">
        <label for="TV">Ingresa el dato de TV:</label><br>
        <input type="text" name="TV" value="0" ><br>
        
        <label for="radio">Ingresa el dato de radio:</label><br>
        <input type="text" name="radio" value="0" ><br>
       
        <label for="newspaper">Ingresa el dato de newspaper:</label><br>
        <input type="text" name="newspaper" value="0" ><br>

        <label for="sales">Ingresa el dato de sales:</label><br>
        <input type="text" name="sales" value="0" ><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>